.containerall {
  width: 100%;
}

#banner {
  width: 100%;
  height: 450px;
  position: relative;
}
#banner img {
  width: 100%;
  height: 450px;
  filter: brightness(60%);
}
.text-banner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
.text-banner h1 {
  font-size: 3rem;
  margin: 0;
}

.layout-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
.layout-navbar a {
  text-decoration: none;
  padding: 20px 40px;
}
.cot2 {
  text-align: center;
}
.cot2 h1 {
  margin: 0;
}

#border-lr {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
#border-r {
  border-right: 1px solid #333;
}

.layout-mtnn {
  width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.back-mtnn {
  background-color: #f7f4f4;
  height: 100%;
}
.contai-mtnn {
  padding: 60px 50px;
}
.contai-mtnn h1 {
  margin: 0;
}
.contais-ttcn {
  background-color: #cec9c9;
}
.layout-ttcn {
  display: flex;
  justify-content: flex-start;
  column-gap: 60px;
  align-items: center;
}
.indam {
  font-weight: bold;
}
.innghieng {
  font-style: italic;
}
.list-icon {
  color: blue;
}

.container-muc {
  width: 70%;
  margin: 1rem auto;
}
.layout-muc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  column-gap: 1em;
}
.bor-muc {
  border: 1px solid #333;
  border-radius: 5px;
  /* height: 100%; */
}
.mini-contai {
  padding: 10px;
}
.layout-icon-muc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ic-toolbox {
  font-size: 2rem;
}
.ic-pencil {
  font-size: 2rem;
}
.ic-toolbox {
  font-size: 2rem;
}
