.containerall {
  width: 100%;
  height: auto;
}

#banner {
  width: 100%;
  height: 450px;
  position: relative;
}
#banner img {
  width: 100%;
  height: 450px;
  filter: brightness(60%);
}
.text-banner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
.text-banner h1 {
  font-size: 3rem;
  margin: 0;
}

.layout-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
.layout-navbar a {
  text-decoration: none;
  padding: 20px 40px;
}
.cot2 {
  text-align: center;
}
.cot2 h1 {
  margin: 0;
}

#border-lr {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
#border-r {
  border-right: 1px solid #333;
}

.layout-mtnn {
  width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.back-mtnn {
  background-color: #f7f4f4;
  height: 100%;
}
.contai-mtnn {
  padding: 60px 50px;
}
.contai-mtnn h1 {
  margin: 0;
}
.contais-ttcn {
  background-color: #cec9c9;
}
.layout-ttcn {
  display: flex;
  justify-content: flex-start;
  column-gap: 60px;
  align-items: center;
}
.indam {
  font-weight: bold;
}
.innghieng {
  font-style: italic;
}
.list-icon {
  color: blue;
}

.container-muc {
  width: 70%;
  height: auto;
  margin: 1rem auto;
}
.layout-muc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 600px;
  align-items: flex-start;
  column-gap: 1em;
}
.layout-muc2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  align-items: flex-start;
  column-gap: 1em;
}
.bor-muc {
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 600px;
}
#mar-botom {
  margin-top: 1rem;
}
.bor-muc2 {
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 400px;
}
.mini-contai {
  padding: 10px;
}
.layout-icon-muc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ic-toolbox {
  font-size: 2rem;
}
.ic-pencil {
  font-size: 2rem;
}
.ic-toolbox {
  font-size: 2rem;
}
.ic-tools-2 {
  font-size: 2rem;
}
.ic-mic {
  font-size: 2rem;
}
.ic-telescope {
  font-size: 2rem;
}

.layout-icons-st {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
}
.cor-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #333;
  border-radius: 50%;
  text-align: center;
  margin-top: 3em;
}

.tanh {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}

#blue {
  background-color: blue;
  width: 50px;
  height: 5px;
}
#xam {
  background-color: #aca8a8;
  width: 50px;
  height: 5px;
}

.back-container-gt {
  background-color: #f0efef;
  width: 100%;
  margin-top: 3rem !important;
}
.container-gt {
  width: 70%;
  margin: 2rem auto;
}
.layout-gt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  column-gap: 2rem;
}
.layout-gt h3 {
  margin: 0;
}
.layout-gt img {
  width: 100%;
}
.bor-bottom {
  margin-bottom: 3rem;
  height: auto;
}
.contaier-dhsdh {
  padding: 60px 0;
}
.layout-gtc1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.border-gt-c2 {
  background-color: #333;
  height: 2px;
  width: 100%;
  margin: 2rem 0;
}
.border-gt-cc1 {
  border-left: 2px solid #333;
}

.container-da {
  width: 70%;
  margin: 2rem auto;
}
.layout-da {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  align-items: flex-start;
}
.layout-da img {
  width: 100%;
}
.border-da {
  border: 1px solid #aca8a8;
}
.border-da h3 {
  padding: 10px 20px;
  border-bottom: 1px solid #aca8a8;
  margin: 0;
}
.devolop-da {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #aca8a8;
}
.mta-da {
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: flex-start;
  border-bottom: 1px solid #aca8a8;
}
.mta-da p {
  margin: 0 10px;
}
.icon-layout-da {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}
.btn {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.container-link {
  background-color: #eeebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  padding: 30px;
}
.lay-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.lay-link a {
  text-decoration: none;
  color: rgb(129, 129, 210);
}

.blue {
  color: blue;
  font-size: 3rem;
}
